# Ignore local environment variables (Security)
backend/.env
frontend/.env

# Ignore large dependency folders (Performance)
backend/node_modules/
frontend/node_modules/

# Ignore the actual photo files (Privacy/Storage)
backend/public/uploads/*

# EXCEPT for the .gitkeep file (Preserve Folder Structure)
!backend/public/uploads/.gitkeep